$rose : #EF7F98;
$blanc : #ffffff;
$noir : #131313;

@font-face {
    font-family: Migra;
    src: url('../font/Migra-Extrabold.otf') format('otf'), url('../font/Migra-Extrabold.ttf') format('ttf');

}
$primary-font : 'Migra';
$secondary-font: 'Roboto', sans-serif;